*/*py                                                                                                        
*/*dat                                                                                                       
*/*cropped*png                                                                                               
*/*cropped*pdf                                                                                               
*/*converted*png
